<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <footer class="footer-centralizado">

            <p class="footer-companhia">Livraria</p>

            <p class="footer-links">
                <a href="#">Listar</a>
                ·
                <a href="/#addLivro">Cadastrar Livro</a>
                ·
                <a href="/#login">Login</a>
            </p>

            <p class="footer-companhia-nome">Lucas Araújo &copy; 2015</p>

        </footer>
    </div>
</nav>