<div >
    <div class="container-fluid">
        <br />
        <br />
        <h2 class="text-center panel">Livraria</h2>
        <!--<p>Filtar: <input type="text" ng-model="filtro" /></p>-->
        <filtrar-livro class="col-md-4"></filtrar-livro>
        <dados-livros></dados-livros>
        <br />
        <h2 class="text-center panel">Total: {{totalPrice() | currency}}</h2>
        <br />
        <!--<div formulario-livro class="panel col-md-6">
        </div>-->
        <div gerar-json>

        </div>
    </div>
</div>