<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">
                Listagem de Livros
            </h1>
            <ol class="breadcrumb">
                <li class="active">Listar</li>
            </ol>
        </div>
    </div>
    <filtrar-livro></filtrar-livro>
    <dados-livros></dados-livros>
    <br />
    <div>
        <h3 class="text-center panel">Total: {{totalPrice() | currency}}</h3>
        <br />
        <!--<div gerar-json></div>-->
    </div>
</div>
